.idea
build
.gradle
**/credentials.properties
out
.classpath
.project
.settings/
/target/
bin


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
